<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_cerberus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cerberus_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomTiles"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ToggleAdaptiveBrightnessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bl4ckswordsman.cerberustiles.TOGGLE_ADAPTIVE_BRIGHTNESS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ToggleVibrationModeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.bl4ckswordsman.cerberustiles.TOGGLE_VIBRATION_MODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name=".quicksettingstiles.AdaptiveBrightnessTileService"
            android:icon="@drawable/baseline_brightness_auto_24"
            android:label="Adaptive Brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>


</manifest>